* {
  box-sizing: border-box;
}

p {
  font-size: 20px;
}

h2 {
  margin-top: 0;
  font-size: 50px;
}

.App {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ceefef;
  text-align: center;
}

.screens {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s linear all;
}

.screen.prev {
  transform: translateX(-50%);
}

.screen.current {
  transform: translateX(0%);
}

.screen.next {
  transform: translateX(50%);
}

.screen .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 5px solid gray; */
  transition: 0.5s linear all;
  padding: 30px;
}

.screen.prev .inner {
  transform: perspective(1000px) rotateY(-90deg) scaleY(1) scaleX(0) translateX(-100%);
}

.screen.current .inner {
	transform: perspective(1000px) rotateY(0deg) scaleY(1) scaleX(1) translateX(0%);
}

.screen.next .inner {
	transform: perspective(1000px) rotateY(90deg) scaleY(1) scaleX(0) translateX(100%);
}

.text {
  max-width: 1000px;
  margin: 0 auto;
}

p {
  text-align: left;
}

.buttons {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

button {
  width: 50px;
  height: 50px;
  background: none;
  color: white;
  font-weight: bold;
}